<template>
  <lightning-card title="Gold.org User Activity" icon-name="standard:contact">
    <div class="slds-m-around_medium">
      <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
        <thead>
          <tr class="slds-line-height_reset">
            <th scope="col">
              <div class="slds-truncate" title="Contact">Contact</div>
            </th>
            <th scope="col">
              <div class="slds-truncate" title="Pageviews">Pageviews</div>
            </th>
            <th scope="col">
              <div class="slds-truncate" title="Downloads">Downloads</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <template for:each={contactRecords.data} for:item="record">
            <c-contact-item key={record.Id} record={record}></c-contact-item>
          </template>
         </tbody>
      </table>
      <template if:true={contactRecords.errorMsg}>
        <li class="slds-list__item"><h3 class="slds-text-heading_small slds-text-color_error">{contactRecords.errorMsg}</h3></li>
      </template>
    </div>
 </lightning-card>
</template>