<template>
    <template if:true={checkIsFieldExist}>
        <th data-label="Name" scope="row">
            <div class="slds-truncate" title="Cloudhub">
                <a href={getUrlPathToContact} tabindex="-1" title={record.contactName}>{record.contactName}</a>
            </div>
        </th>
        <td data-label="Pageviews">
            <div class="slds-truncate" title={record.pagewiews}> {record.pagewiews}</div>
        </td>
        <td data-label="Downloads">
            <div class="slds-truncate" title={record.downloads}>{record.downloads}</div>
        </td>
    </template>
</template>